# SPDX-License-Identifier: Apache-2.0

# Your application configuration options go here


# Sources Kconfig.zephyr in the Zephyr root directory.
#
# Note: All 'source' statements work relative to the Zephyr root directory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).

config CANOPEN_NODE_ID
	int "CANopen node ID"
	default 10
	range 1 127
	help
	  7-bit CANopen Node ID

config SENSORS_UPDATE_TIME
	int "Sensors update time"
	default 1000
	help
	  Sensors update time measured in ms

config OUTPUT_UPDATE_TIME
	int "Output update time"
	default 100
	help
	  Output update time measured in ms

config ADCS_UPDATE_TIME
	int "ADCs update time"
	default 2000
	help
	  ADCs update time measured in ms

config DEBUG_LED
	bool "use PC13 LED for debug"
	default false
	help
	  PC13 LED for debug ADC AC 
      
menu "Umdom project: devices"
 rsource "src/driver/Kconfig"
endmenu

source "Kconfig.zephyr"