config SHELL_BACKEND_CANOPEN
	bool "Enable CANOPEN backend"
	select CONSOLE
	# select CANOPEN_CONSOLE
	help
	  Enable CANOPEN backend.

if SHELL_BACKEND_CANOPEN

config SHELL_PROMPT_CANOPEN
	string "Displayed prompt name"
	default "~$ "
	help
	  Displayed prompt name for CANOPEN backend.

config SHELL_CANOPEN_RX_POLL_PERIOD
	int "RX polling period (in milliseconds)"
	default 10
	help
	  Determines how often CANOPEN is polled for RX byte.

module = SHELL_BACKEND_CANOPEN
default-timeout = 100
source "subsys/shell/Kconfig.template.shell_log_queue_timeout"

default-size = 10
source "subsys/shell/Kconfig.template.shell_log_queue_size"

choice
	prompt "Initial log level limit"
	default SHELL_CANOPEN_INIT_LOG_LEVEL_DEFAULT

config SHELL_CANOPEN_INIT_LOG_LEVEL_DEFAULT
	bool "System limit (LOG_MAX_LEVEL)"

config SHELL_CANOPEN_INIT_LOG_LEVEL_DBG
	bool "Debug"

config SHELL_CANOPEN_INIT_LOG_LEVEL_INF
	bool "Info"

config SHELL_CANOPEN_INIT_LOG_LEVEL_WRN
	bool "Warning"

config SHELL_CANOPEN_INIT_LOG_LEVEL_ERR
	bool "Error"

config SHELL_CANOPEN_INIT_LOG_LEVEL_NONE
	bool "None"

endchoice

config SHELL_CANOPEN_INIT_LOG_LEVEL
	int
	default 0 if SHELL_CANOPEN_INIT_LOG_LEVEL_NONE
	default 1 if SHELL_CANOPEN_INIT_LOG_LEVEL_ERR
	default 2 if SHELL_CANOPEN_INIT_LOG_LEVEL_WRN
	default 3 if SHELL_CANOPEN_INIT_LOG_LEVEL_INF
	default 4 if SHELL_CANOPEN_INIT_LOG_LEVEL_DBG
	default 5 if SHELL_CANOPEN_INIT_LOG_LEVEL_DEFAULT

module = SHELL_CANOPEN
module-str = CANOPEN shell backend
source "subsys/logging/Kconfig.template.log_config"

endif # SHELL_BACKEND_CANOPEN
